* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
body{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(black, rgba(0, 0, 0, 0));
}
/*---------for extra large screen---------*/
   @media only screen and (max-width:1920px){
.Calculator{
	padding: 20px;
	border-radius: 20px;
	background: aqua;
	box-shadow:   8px  8px 12px;
	font-weight: bold;
	transition: 0.5s all;
	overflow: hidden;
}
input{
	color: black;
	width:325px; 
	outline: none;
	padding:24px; 
	margin:10px;
    background: transparent;
    font-size: 40px;
	text-align: right;
	cursor: pointer;
}
input::placeholder{
	color:  maroon;
}
button{
	border: none;
	width: 60px;
	height: 70px;
	max-width: 100%;
	color: maroon;
	max-height: 100%;
	margin: 10px;
	border-radius: 40%;
	background: transparent;
	font-weight: bold;
	font-size: 20px;
	box-shadow: -8px -8px 15px rgba(100,100,100,0.5);
	transition: 0.5s all;
}
button:hover{
	border-radius: 50%;
}
.eqlbtn{
	background: maroon;
	color: cyan;
	cursor: pointer;
}
.symbol{
	color: #00004d
}
/*---------for large screen---------*/
   @media only screen and (max-width:1024px){
   	input{
	width:324px; 
	outline: none;
	color: #fff;
	padding:24px; 
	margin:10px;
    background: transparent;
    font-size: 20px;
	text-align: right;
	cursor: pointer;
}
.Calculator{
	padding: 20px;
	border-radius: 20px;
	background: black;
	box-shadow:   8px  8px 12px;
	font-weight: bold;
	transition: 0.5s all;
}
button{
	border: none;
	width: 60px;
	color: ghostwhite;
	height: 60px;
	margin: 10px;
	border-radius: 40%;
	background: transparent;
	font-weight: 200;
	font-size: 20px;
	box-shadow: -8px -8px 15px rgba(100,100,100,0.2);
	transition: 0.5s all;
}
.symbol{
	color: cyan;
}}
  /*---------for medium screen---------*/
   @media only screen and (max-width:800px){
   button{
	border: none;
	width: 55px;
	color: ghostwhite;
	height: 50px;
	margin: 10px;
	border-radius: 40%;
	background: transparent;
	font-weight: 200;
	font-size: 20px;
	box-shadow: -8px -8px 15px rgba(100,100,100,0.2);
	transition: 0.5s all;
}
input{
	width:300px; 
	outline: none;
	color: #fff;
	padding:24px; 
	margin:10px;
    background: transparent;
    font-size: 20px;
	text-align: right;
	cursor: pointer;
}}
/*---------for small screen---------*/
   @media only screen and (max-width:600px){
   	.Calculator{
	padding: 20px;
	border-radius: 20px;
    background-image: linear-gradient(pink,aqua);
	box-shadow:   8px  8px 12px;
	font-weight: bold;
	transition: 0.5s all;
}
   	button{
	border: none;
	width: 40px;
	color: black;
	height: 40px;
	margin: 10px;
	border-radius: 40%;
	background: transparent;
	font-weight: bold;
	font-size: 15px;
	box-shadow: -8px -8px 15px rgba(100,100,100,0.2);
	transition: 0.5s all;
}
input{
	width:245px; 
	color: black;
	outline: none;
	padding:24px; 
	margin:10px;
    background: transparent;
    font-size: 20px;
	text-align: right;
	cursor: pointer;
}
.symbol{
	color: darkblue;
}}
